@{
    ViewData["Title"] = "check";
}

@section Style{
<!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> -->
<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<style>
    header{
        display:none;
    }
    .footer__waves {
        display: none;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" />
}

<div id="app">
    <div>
        
        <div>
            <div v-for="day in schedule.details">
             <div v-for="view in day">
                 {{view.place.name}}
            </div>
            </div>
        </div>

    </div>
    <div>
        <div v-for="(day,index) in schedule.details" @@click="showDaySchedule(index)" type="button">{{index+1}}</div>
        <div id="map"></div>
        <div v-for="view in daySchedule">{{view.place.name}}</div>
    </div>
</div>



@section Scripts{
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtVnIXm-IWFLMzIL_XlbCjLyQjSuEVVhk"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                schedule: [],
                daySchedule: [],
                map: null,
            }
        },
        methods: {
            initMap() {
                this.map = new google.maps.Map(document.getElementById("map"), {
                    center: { lat: 23.573837, lng: 120.97969 },
                    zoom: 8,  // 0-20
                    mapId: '1d3a304bcea5789e',
                    mapTypeControl: false,  // 換地圖類型
                    streetViewControl: false,  // 街道檢視
                    fullscreenControl: false, // 全螢幕顯示
                    clickableIcons: false,   // 可不可以點地圖上的點                    
                });
            },
            showDaySchedule(index) {
                
                this.daySchedule = this.schedule.details[index]
                console.log(this.daySchedule)
            },
        },
        computed: {

        },
        mounted() {
            //let id = window.location.search.substring(1)
            //if (id != "") {
            axios.post("@Url.Action("selectDetail","Schedule")", { ScheduleId: 116 })
                .then(res => this.schedule = res.data)
                .catch(err => console.log("err"))
            //}
            this.initMap()
        },
    })
</script>
}