@{
    Layout = "_Layout2";
}
@{
    ViewData["Title"] = "EditBlog";
}

@section Style{
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />  -->
    <link rel="stylesheet" href="~/css/editblog.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
}


    @section Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>


    <script>
        $("body").attr('data-bs-spy','scroll')
        $("body").attr('data-bs-target','#list-example')
        $("body").attr('data-bs-offset','0')
        $("body").attr('tabindex','0')

    let id = 0;
            let vm = new Vue({
                el: `#bloginfo`,
                data: {
                    Details: [
                        [
                            {
                                id: id++,
                                p_Add: "台北市",
                                placeId: 1,
                                p_Name: "北部1",
                                p_tel: "07-123456",
                                score: 0,
                                describe: "",
                                images: {Name:"",base64:""},
                            },
                            {
                                id: id++,
                                p_Add: "",
                                placeId: 1,
                                p_Name: "南部2",
                                p_tel: "",
                                score: 0,
                                describe: "",
                                images: [],


                            },
                            {
                                id: id++,
                                p_Add: "",
                                placeId: 1,
                                p_Name: "外島3",
                                p_tel: "",
                                score: 0,
                                describe: "",
                                previewlist: [],
                                images: [],

                            }

                        ],
                        [
                            {
                                id: id++,
                                p_Add: "",
                                placeId: 1,
                                p_Name: "東部1",
                                p_tel: "",
                                score: 0,
                                Describe: "",
                                preview: null,
                            },
                            {
                                id: id++,
                                p_Add: "",
                                placeId: 1,
                                p_Name: "中部2",
                                p_tel: "",
                                score: 0,
                                Describe: "",
                                preview: null,


                        ],
                    ],
                    UserId: ["Alley", "Beca", "Cindy"],
                    UserImage: "https://unsplash.it/2400/1800/?random/view",
                    CoverImageName: 'https://picsum.photos/id/249/1800/1400',
                    Title: '請輸入標題~~~~~~~',
                    Describe: '',
                    Like: 5,

                    myscore: this.score,
                    mytempscore: this.score

                },
                props: {
                    count: {
                        type: Number,
                        default: 5
                    },
                    score: {
                        type: Number,
                        default: 1
                    },
                    color: {
                        type: String,
                        default: '#FFC100'
                    }
                },
                methods: {
                    gethref(dayIndex, viewIndex) {
                        return "#list-item-" + dayIndex + "-" + viewIndex
                    },
                    getanchor(dayIndex, viewIndex) {
                        return "list-item-" + dayIndex + "-" + viewIndex
                    },
                    saveBlog() {
                        let blog = {
                            CoverImageName:this.CoverImageName,Details:this.Details
                        }
                        axios.post("@Url.Action("setBlog","Blog")", blog)
                                 .then(res => { console.log(res.data); context.commit('saveDataBlog', res.data) })
                                 .catch(err => console.log("err"))
                    },
                    fileChange(e) {
                        let file = e.target.files[0]
                        let readFile = new FileReader()
                        readFile.readAsDataURL(file)
                        readFile.addEventListener('load', () => {
                            let image = document.getElementById('image')
                            this.CoverImageName = readFile.result                            
                            this.Details[dayIndex][viewIndex].CoverImageName = this.CoverImageName
                            console.log(this.CoverImageName);
                        })

                    },
                    copyURL: function () {                         
                        let myurl = document.createElement('input'),
                        geturl = window.location.toString()
                        document.body.appendChild(myurl);
                        myurl.value = geturl;
                        myurl.select();
                        document.execCommand('copy');
                        document.body.removeChild(myurl);

                    },
                    loadimg: function (dayIndex, viewIndex, e) {
                        var input = e.target;
                        var count = input.files.length;
                            this.Details[dayIndex][viewIndex].images = [];
                            for (let i = 0; i < input.files.length;i++){
                                const reader = new FileReader();
                                reader.readAsDataURL(input.files[i]);
                                reader.onload = (e) => {
                                    let image = {name:"",base64:e.target.result}
                                    this.Details[dayIndex][viewIndex].images.push(image);
                                }                                                                                               
                            }
                        }
                    },
                    reset: function (dayIndex, viewIndex, e) {
                        this.Details[dayIndex][viewIndex].images.length = 0;
                        this.Details[dayIndex][viewIndex].images=[];
                    },
                    onChange(dayIndex) {
                        for (let j = 0; j < this.Details.length; j++) {
                            let timestamp = this.datetime[j]
                            console.log(timestamp)
                            for (let i = 0; i < this.Details[j].length; i++) {
                                this.Details[j][i].starttime = timestamp
                                let hr = timestamp.substring(0, 2)
                                let min = timestamp.substring(3, 5)
                                let addhr = parseInt((Number(min) + Number(this.Details[j][i].min)) / 60)

                                hr = Number(hr) + Number(addhr)
                                min = (Number(min) + Number(this.Details[j][i].min)) % 60

                                if (hr < 10) {
                                    hr = '0' + hr
                                }
                                if (min < 10) {
                                    min = '0' + min
                                }

                                timestamp = hr + ':' + min
                                this.Details[j][i].endtime = timestamp
                            }
                        }
                    },
                    caltime(dayIndex) {
                        for (let j = 0; j < this.Details.length; j++) {
                            let timestamp = this.datetime[j]
                            console.log(timestamp)
                            for (let i = 0; i < this.Details[j].length; i++) {
                                this.Details[j][i].starttime = timestamp
                                let hr = timestamp.substring(0, 2)
                                let min = timestamp.substring(3, 5)
                                let addhr = parseInt((Number(min) + Number(this.Details[j][i].min)) / 60)

                                hr = Number(hr) + Number(addhr)
                                min = (Number(min) + Number(this.Details[j][i].min)) % 60

                                if (hr < 10) {
                                    hr = '0' + hr
                                }
                                if (min < 10) {
                                    min = '0' + min
                                }

                                timestamp = hr + ':' + min
                                this.Details[j][i].endtime = timestamp
                            }
                        }
                    }
                },
                 mounted() {
                     let id = window.location.search.substring(1) 
                     console.log(id)
                     if (id != "") {
                         axios.post("@Url.Action("creatBlog","Blog")", { ScheduleId: id }).then(res =>  this.Details = res.data.details )                         
                     }
                 }

            },
            )




    </script>

}
   

    <div id="bloginfo">
        <img :src="CoverImageName" id="coverimg" alt="封面圖片">
        <div id="covertitle">
            <Label style="color: white; font-size:16px;float: left;">標題</Label><br>
            <input type="text" id="TitleId" v-model="Title" maxlength="15" size="20">
            <label class="btn btn-primary">
                <input id="upload_img" style="display:none;" type="file" @@change="fileChange" size="10">
                <i class="fa fa-photo"></i> 挑選我的封面
            </label>
        </div>
        <!--左邊欄位-->
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-3 mt-4 mt-lg-2" id="sidebar" style="margin-left: 20px;">
                        <div class="sticky-top">
                            <label class="my-2">景點日程</label>
                            <!-- <div id="list-example" class="list-group">
                            <div v-for="(day,dayIndex) in Details">                            
                                <ul> 第{{dayIndex+1}}天
                                    <li v-for="(p_Name,viewIndex) in day" :key="p_Name.id" class="Details ">
                                    <a class="list-group-item list-group-item-action" :href="gethref(dayIndex,viewIndex)">{{p_Name.p_Name}}</a></li>
                                </ul>
                            </div>
                            </div> -->
                            <ul class="list-group">
                                <div v-for="(day,dayIndex) in Details">第{{dayIndex+1}}天
                                    <li class="list-group-item  justify-content-between align-items-center px-0">
                                        <ul>
                                            <li v-for="(p_Name,viewIndex) in day" :key="p_Name.id" class="Details ">
                                                <a class="list-group-item list-group-item-action"
                                                    :href="gethref(dayIndex,viewIndex)">{{p_Name.p_Name}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </div>
                            </ul>

                            <div class="my-3">
                                <img src="https://picsum.photos/id/513/1800/1400" alt="" class="img-fluid rounded"
                                    width="80%" />
                            </div>
                            <div style="width:80%">
                                <h6 class="mb-1">旅遊就從JustGO開始</h6>
                                <p>For what it's worth, it's never too late or, in my case, too early to be whoever you want
                                    to be</p>

                            </div>
                        </div>

                    </div>
                    <!--右邊欄位-->
                    <div class="col-sm-8" style="margin-left: 20px;">
                        <div class="user">
                            <div class="py-3">
                                <span><img :src="UserImage" id="userimg" alt=""></span>
                                <span class="px-3 py-1">{{UserId[0]}}</span>
                            </div>
                            <textarea rows="4" class="mb-2" maxlength="150" placeholder="分享心得 字數限制150字" v-model="describe"
                                style="resize:none"></textarea>
                        </div>
                        <div>
                            <div v-for="(day,dayIndex) in Details">
                                <label id="day" class="mb-2">第{{dayIndex+1}}天</label>
                                <div class="item" v-for="(dayDetails,viewIndex) in day" :key="dayDetails.id">
                                    <span><i class="fa-solid fa-map-location-dot px-1 mb-1"
                                            :id=getanchor(dayIndex,viewIndex)></i>{{dayDetails.p_Name}}</span>
                                    <div class="mb-1">地址:{{dayDetails.p_Add}}</div>
                                    <div class="mb-1">電話:{{dayDetails.p_tel}}</div>

                                    <div>
                                        評分:<i class="fa fa-star mb-2" :style="{color:color}"
                                            :class="item<=dayDetails.score?'fa-star':'fa-star-o'" v-for="item in count"
                                            @@mouseenter="dayDetails.score=item" @@mouseleave="dayDetails.score=myscore"
                                            @@click="myscore=item"></i>
                                        <!-- {{p_Name.score}} -->
                                    </div>

                                    <textarea rows="6" class="mb-2" maxlength="400" v-model="dayDetails.Describe"
                                        placeholder="景點敘述 字數限制400字" style="resize:none"></textarea>


                                    <div class="mb-3">
                                        <label class="btn btn-primary btn-sm">
                                            <input type="file" accept="image/*" multiple
                                                @@change="(e)=>loadimg(dayIndex,viewIndex,e)" id="myimg"
                                                style="display:none;" size="6">
                                            <i class="fa fa-photo"></i> 上傳圖片
                                        </label>
                                        <button @@click="(e)=>reset(dayIndex,viewIndex,e)"
                                            class="btn btn-outline-secondary btn-sm">取消上傳</button>
                                        <div class="groupimg img-fluid">
                                            <template v-for="(image,index) in dayDetails.images">
                                                <img :src="image.base64">
                                            </template>
                                        </div>
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
            <div style="display: flex; justify-content: space-around">
                <button class="btn btn-outline-primary btn-sm" style="margin: 20px 20px;">取消編輯</button>
                <button class="btn btn-outline-primary btn-sm" style="margin: 20px 20px;"
                    @@click="saveBlog">儲存行程</button>
                <button class="btn btn-outline-primary btn-sm" style="margin: 20px 20px;">發佈行程</button>
            </div>
        </div>
    