@model IEnumerable<Place>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="a">click</button>

@section Scripts{    
    <script>
    
    //console.log(@Html.Raw(ViewBag.Json));

document.getElementById("a").addEventListener("click", () => {
    console.log("hi")

    //console.log("@Url.Action("axiosTest")");
    let request = JSON.stringify({ start: 5, quantity: 10 })
    console.log(request);
    $.ajax({
        type:"POST",
        url:"@Url.Action("axiosTest")",
        dataType:"json",
        data: {request},
    }).done(function(data){
        console.log(data);
        console.log(data[20])
    }).fail(function(err) {
        console.log(err);
    })
})
    </script>
}