@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section Scripts{
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
            //axios.get("@Url.Action("teatMapData","Home")")
            //            .then(res=>console.log(res.data))
            //            .catch(err => console.log("err");
            console.log("hi")
$.ajax({
    type:"POST",
    url:"@Url.Action("teatMapData","Home")",
    dataType:"json"
}).done(
    function(res){
        console.log(res)
    }
);
                        
    </script>

}