@{
    ViewData["Title"] = "Select";
}

@section Style{
    <style>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" / >
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" / >
        <style >
        .footer__waves {
            display: none
        }


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" / >
        .searchBar {
            border: 1px solid black;
            margin: 10px;
            height: 50px;
        }

        .searchResult {
            border: 1px solid black;
            margin: 10px;
            height: auto;
        }

        .searchBlog {
            border: 1px solid black;
            margin: 10px;
            height: 100px;
        }
    </style>
}

    <div class="container" id="app">
        <div class="searchBar">
        </div>

        <div class="searchResult">
            <div class="searchBlog" v-for="item in 4">
            </div>
        </div>
    </div>
    @section Scripts {
    <script>
        new Vue({
            el: "#app"
        })
    </script>
}
