
@{
    ViewData["Title"] = "View";
}

<div class="container">
    <div class="block">
    <div class="titlebar">行程</div>
    </div>
     <div class="block">
    <div class="titlebar">過往行程</div>
    </div>
    <div class="block">
    <div class="titlebar">遊記</div>
    </div>
</div>

