@*@model IEnumerable<JustGo.ViewModels.ScheduleVM>*@
@{
    ViewData["Title"] = "View";
    //Layout = null;
}

@section Style{
    <link rel="stylesheet" href="~/css/UCg.css" asp-append-version="true" />
}
    <style>
        header {
            display: none;
        }

        .travel {
            font-weight: bold;
            margin: 30px 18px 30px 18px;
            color: BLACK;
            font-size: 28px;
            border-bottom: 5px solid transparent;
            border-image: linear-gradient(to right, #808080, transparent) 1;
        }

        .schedules {
            font-weight: bold;
            font-size: 17px;
        }

        .schedule:hover {
            transition: all 1s ease;
            transform: scale(1.05);
            box-shadow: 0 0 5px;
            opacity: 0.9;
            border-radius: 10px;
            cursor: grab;
            border: 4px solid #Ffff;
        }

        .schedule {
            margin: 30px;
            /* margin: auto; */
            border: 5px solid #ffff;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0,#FFFF,#F0F0F0 );
            width: 270px;
            min-width: 245px;
        }
        /* 底下部分框 */

        .blog {
            margin: 30px;
            border: 4px solid#ffff;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0,#FFFF,#F0F0F0 );
            width: 270px;
            min-width: 245px;
        }
            /* 底下部分部落格框放大 */
            .blog:hover {
                transition: all 1s ease;
                transform: scale(1.05);
                box-shadow: 0 0 5px;
                opacity: 0.9;
                border-radius: 15px;
                cursor: grab;
                border: 4px solid #FFff;
            }
        /* 3行字跟編輯的上下間距 */
        .schedule_word_margin {
            margin-top: 5%;
        }



        /* 編輯字體樣式 */

        .item_scheduleId {
            font-size: 25px;
            margin-left: 10%;
        }
            /* 滑鼠移動字體變色 */

            .item_scheduleId:hover {
                transition: all 1.1s ease;
                cursor: grabbing;
                color: rgb(17, 17, 242);
            }
        /* 刪除字體樣式 */
        .DeleteSchedule_Style {
            font-size: 25px;
            margin-right: 10%;
        }
            /* 刪除滑鼠移動變色*/

            .DeleteSchedule_Style:hover {
                cursor: grabbing;
                color: red;
            }
        /* 框內5行字的上間距*/
        .scheduleInfo_Margin {
            margin-top: 6%;
        }
        /* 框內第1行字的樣式*/
        .item_title {
            font-weight: bold;
            font-size: 18px;
            margin-left: 11%;
            margin-right: 5%;
            min-width: auto;
        }
        /* 框內第2.3行字的樣式*/
        .item_startDate {
            margin-top: 13px;
            margin-bottom: 13px;
            font-size: 15px;
            margin-left: 11%;
            margin-right: 5%;
            min-width: auto;
        }
        /* 框內5行字移動放大*/
        .item_title:hover {
            cursor: grabbing;
        }
        /* 分享行程樣式間距*/
        .CreateBlog_Style {
            font-size: 25px;
            margin-left: 10%;
        }
            /* 分享行程滑鼠移動放大*/
            .CreateBlog_Style:hover {
                cursor: grabbing;
                color: rgb(17, 17, 242);
            }
        /* 背景顏色*/
        .Background-color_Style {
            background-image: linear-gradient(to top left, #C4E1FF,#FFFF,#C4E1FF );
            opacity: 0.9;
        }

        /* 框格內第1條線間距*/
        .hr_Style {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 11%;
            margin-right: 11%;
            min-width: auto;
            color: black;
            font-size: 18px;
            min-width: auto;
        }
        /* 框格內第2條線間距*/
        .hr2_Style {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 11%;
            margin-right: 11%;
            min-width: auto;
            color: black;
            font-size: 18px;
            min-width: auto;
        }

        .titlemargin {
            margin-top: 45px;
            margin-bottom: 45px;
            margin-left: 20px;
        }

        .col {
            font-size: 25PX;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-weight: bold;
        }

            .col:hover {
                cursor: grab;
            }

        .schedule_word_margin {
            display: flex;
            justify-content: space-between;
        }


        .member_box {
            margin: 30px 18px 30px 18px;
            border: 3px;
            height: 130px;
            border-radius: 3px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0,#FFFF,#F0F0F0 );
        }

        .member_box2 {
            margin: 30px 18px 30px 18px;
            border: 3px;
            height: 60vh;
            border-radius: 3px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0,#FFFF,#F0F0F0 );
        }

        @@media screen and (max-width:600px) {
            .col {
                font-size: 15px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: bold;
            }
        }

        @@media screen and (max-width:430px) {
            .col {
                font-size: 8px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: bold;
            }
        }

    </style>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" />
    <div class="Background-color_Style">

        <div class="d-flex align-items-start col">
            <div class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <span class="nav-link active titlemargin" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" aria-controls="v-pills-home" aria-selected="true">行程</span>
                <span class="nav-link titlemargin" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">過往行程</span>
                <span class="nav-link titlemargin" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">遊記</span>
                <span class="nav-link titlemargin" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">收藏</span>
                <span class="nav-link titlemargin" id="v-pills-member-tab" data-bs-toggle="pill" data-bs-target="#v-pills-member" role="tab" aria-controls="v-pills-member" aria-selected="false">會員</span>
            </div>
            <div class="container" id="app">
                <div class="row">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="travel">行程</div>
                            <div class="block">
                                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                                    @*<div class="schedule" v-for="(item,index) in schedule" :key="index">*@
                                    <div class="schedule" v-for="(item,index) in schedule" v-if="nextSchedule(index)">
                                        <div class="scheduleInfo scheduleInfo_Margin">
                                            <span class="item_title">{{item.title}}</span><br />
                                            <hr class="hr_Style" />
                                            <span class="item_startDate">{{item.startDate}}</span><br />
                                            <span class="item_startDate">{{item.endDate}}</span><br />
                                        </div>
                                        <hr class="hr_Style" />
                                        <div class="buttonBar schedule_word_margin">
                                            <span class="item_scheduleId" @@click="editSchedule(item.scheduleId)"><i class="fa-solid fa-file-pen"></i></span>
                                            <span class=" DeleteSchedule_Style" @@click="deleteSchedule(item.scheduleId,index)"><i class="fa-solid fa-trash-can"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="travel">過往行程</div>
                            <div class="block">
                                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                                    <div class="schedule" v-for="(item,index) in schedule" v-if="exSchedule(index)">
                                        <div class="scheduleInfo scheduleInfo_Margin">
                                            <span class="item_title">{{item.title}}</span><br>
                                            <hr class="hr_Style" />
                                            <span class="item_startDate">{{item.startDate}}</span><br>
                                            <span class="item_startDate">{{item.endDate}}</span><br>
                                        </div>
                                        <hr class="hr_Style" />
                                        <div class="buttonBar schedule_word_margin">
                                            <span class="CreateBlog_Style" @@click="createBlog(item.scheduleId)"><i class="fa-solid fa-share-from-square"></i></span>
                                            <span class="DeleteSchedule_Style" @@click="deleteSchedule(item.scheduleId,index)"><i class="fa-solid fa-trash-can"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="travel">遊記</div>
                            <div class="block">
                                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                                    <div class="blog" v-for="item in 4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="travel">收藏</div>
                            <div class="block">
                                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                                    <div class="blog" v-for="item in 12">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-member" role="tabpanel" aria-labelledby="v-pills-member-tab">
                            <div class="travel">會員</div>
                            <div class="container">
                                <div class="row">
                                    <div class=" member_box col-md-10">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active mt-5 mb-4 ms-5 me-5" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">更改會員密碼</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link mt-5 mb-4 ms-5 me-5" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">更改個人資料</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link mt-5 mb-4 ms-5 me-5" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">更換大頭貼</button>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class=" member_box2 col-md-10">

                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <div class="container">
                                                    <div class="mb-1 row ">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label mt-4 mb-4 ms-2">請輸入舊密碼</label>
                                                        <div class="col-sm-4">
                                                            <input type="password" class="form-control mt-4 mb-4 " id="inputPassword">
                                                        </div>
                                                    </div>
                                                    <div class="mb-1 row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label mt-4 mb-4 ms-2 ">請輸入新密碼</label>
                                                        <div class="col-sm-4">
                                                            <input type="password" class="form-control mt-4 mb-4" id="inputPassword">
                                                        </div>
                                                    </div>

                                                    <div class="mb-1 row">
                                                        <label for="inputPassword" class="col-sm-4 col-form-label mt-4 mb-4 ms-2">再次確認密碼</label>
                                                        <div class="col-sm-4 ">
                                                            <input type="password" class="form-control mt-4 mb-4" id="inputPassword">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><form class="row g-3">
  <div class="col-md-6">
    <label for="inputNamel4" class="form-label">名稱</label>
    <input type="email" class="form-control" id="inputNamel4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">旅遊愛好</label>
    <input type="text" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">自我介紹</label>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Comments</label>
</div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">確定</button>
  </div>
</form></div>
                                           
                                        </div>
                                         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">321</div>



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>











            </div>
        </div>
    </div>
    @section Scripts{
    <script src="https://kit.fontawesome.com/2f8972a878.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    showSchedule: [],
                    dateNow: "",
                }
            },
            computed: {
                schedule() {
                    return this.showSchedule;
                }
            },
            methods: {
                nextSchedule(index) {
                    this.dateNow = new Date();
                    let datetime = new Date(this.showSchedule[index].endDate)

                    if (this.dateNow < new Date(this.showSchedule[index].endDate)) {
                        return true
                    } else {
                        return false
                    }
                },
                exSchedule(index) {
                    this.dateNow = new Date();
                    let datetime = new Date(this.showSchedule[index].endDate)

                    if (this.dateNow < new Date(this.showSchedule[index].endDate)) {
                        return false
                    } else {
                        return true
                    }
                },
                editSchedule(scheduleId) {
                    window.location.href = '@Url.Action("itinerary","Home")?' + scheduleId
                    //window.location.href = `@Url.Action("itinerary","Home",new {schedule = "123"})"
                },
                deleteSchedule(scheduleId, index) {
                    this.showSchedule.splice(index, 1);
                    axios.post("@Url.Action("deleteSchedule","Schedule")", { ScheduleId: scheduleId })
                        .catch(err => console.log("err"))
                },
                createBlog(scheduleId) {
                    window.location.href = '@Url.Action("EditBlog","Home")?' + scheduleId
                }
            },
            mounted() {
                axios.post("@Url.Action("selectUserSchedule","Schedule")")
                    .then(res => this.showSchedule = res.data)
                    .catch(err => console.log("err"))
            },

        })
    </script>
    }

