<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JustGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/__layout.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js" asp-append-version="true" /> -->
    
    



    @await RenderSectionAsync("Style", required: false)
</head>

<body>
    <header>
           <nav class="navbarC navbar navbar-expand-sm navbar-toggleable-sm navbar-light  mb-3" style="" id="navbarC">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                  <img class="navbarC__logo" src="~/file/photo/logo.png" alt="JustGo" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarC__menu">
                    <!-- <ul class="navbar-nav flex-grow-1 d-flex justify-content-end align-items-center "> -->
                        <!-- <li class="nav-item">
                            <a  asp-area="" asp-controller="Home" asp-action="itinerary">規劃行程</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="check">檢視行程</a>
                        </li>
                         <li >
                            <a  asp-area="" asp-controller="Home" asp-action="UserCatelog">會員資訊</a>
                        </li> -->
                        
                            <partial name="_LoginPartial"/> 
                        
                    <!-- </ul> -->
                </div>
            </div>
        </nav>
        
        <!-- <nav class="navbarC"  id="navbarC">
            <li> 
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="navbarC__logo" src="~/file/photo/logo.png" alt="JustGo" />
                </a>
            </li>
            <input type="checkbox" id="check" class="checkbox">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-align-justify"></i>
            </label>

            <ul id="navbarC__menu">
                <li >
                 <a  asp-area="" asp-controller="Home" asp-action="itinerary">規劃行程</a>
                </li>
                <li><a href="#recommend">行程推薦</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="check">檢視行程</a></li>
                <li >
                 <a  asp-area="" asp-controller="Home" asp-action="UserCatelog">會員資訊</a>
                </li>
                <li>
                <partial name="_LoginPartial" /> 
                </li>   
            </ul>
        </nav> -->
    </header>

    @RenderBody()


    <footer class="footer__waves">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-discord"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <!-- <ul class="menu">
            <li> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>          
        </ul> -->
        <p>   &copy; 2022 - JustGo -</p>
         
      
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
            document.getElementById("forop").addEventListener("click", function(){

                if (document.getElementById("op").style.height=='0px'){
                         document.getElementById("op").style.height = "50px"
                           
                         setTimeout(() => {
                             document.getElementById('outbtn').style.display=''
                         }, 100)
 
                }else{
                        document.getElementById("op").style.height="0px"

                          setTimeout(() => {
                             document.getElementById('outbtn').style.display='none'
                         }, 100)
                
                }
                       

             


              
            });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
