<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JustGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/__layout.css" asp-append-version="true" />
    <!-- <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js" asp-append-version="true" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    



    @await RenderSectionAsync("Style", required: false)
</head>

<body>

    <header>
        <nav class="navbarC"  id="navbarC">
            <li> 
                  <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                     <img class="navbarC__logo" src="~/file/photo/logo.png" alt="JustGo" />
                  </a>
            </li>
          

            <ul id="navbarC__menu">

                <li >
                 <a  asp-area="" asp-controller="Home" asp-action="itinerary">規劃行程</a>
                </li>
                <li><a href="#">行程推薦</a></li>
                <li><a href="#">我的行程</a></li>
                <li>
                    <div class="navigation">
                            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
                    
                            <label for="navi-toggle" class="navigation__button">
                                <span class="navigation__icon">&nbsp;</span>
                                 <img src="~/file/photo/user.jpg" alt="登入" class="navbarC__user-logo" />
                            </label>
                    
                    <div class="navigation__background">&nbsp;</div>
                        <nav class="navigation__nav">
                            <ul class="navigation__list">
                                <!-- <li class="navigation__item"><a href="#" class="navigation__link
                                "><span>01</span> natous</a></li> -->
                                
                                <!-- <li class="navigation__item"><input type="text"></li> -->
                                <li class="navigation__item"> <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></li>
                                  <li class="navigation__item"> <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></li>
                                    <li class="navigation__item"> <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=""></li>
                                <li class="navigation__item"><a href="#" class="navigation__link">登入</a></li>
                                        <!-- <li class="navigation__item"><input type="text"></li> -->
                                <!-- <li class="navigation__item"><a href="#" class="navigation__link
                                                "><span>01</span> natous</a></li> -->
                            </ul>
                        </nav>



                   
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()


    <footer class="footer__waves">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social_icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-discord"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>          
        </ul>
        <p>   &copy; 2022 - JustGo -</p>
         
      
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
