@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div>
@if (SignInManager.IsSignedIn(User))
{
    <div class="chat" id="chat" style="right: -520px">
        <i class="fas fa-comment-dots" id="chatbtn"></i>
        <div class="chat__box">
            <div class="chat__box-main"> 
                <div class="chat-top">
                    <div class="d-flex">
                        <img src="~/file/photo/user2.jpg" alt="">
                        <p class="text-dark">你好!! 我是水獺</p>
                    </div>
                </div>
                <input class="chat-input"></input>
            </div>
            <div class="chat__box-targe">
                <h2>墾丁三天兩夜之旅</h2>
                <h2>台北文青放鬆五日遊</h2>
                <h2>台中 | 文青 網美景點大集合</h2>
            </div>
        </div>
      
    </div>

}else{

}
</div>
