@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "已寄送信件";
}
<div class="row justify-content-center">
    <div class="col-md-4">
        <br />
        <br />
        <br />
                <br />
                <br />
<h3 class="mb-3 mt-3 ms-5 me-5">@ViewData["Title"]</h3>
<h3 class="mb-3 mt-3 ms-5 me-5">
   請檢查您的電子郵件以重置密碼
</h3>
 <hr / class="mb-3 mt-3 ms-5 me-5">
</div>
</div>