@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "忘記密碼了嗎?";
}


<div class="row justify-content-center">
    <div class="col-md-4">
          <br />
            <br />
              <br />
        <h1 class="form-outline mb-2 mt-2 ms-5 me-5">@ViewData["Title"]</h1>
<h2 class="form-outline mb-2 mt-2 ms-5 me-5">請輸入您的電子信箱</h2>
<hr /  class="mb-5 mt-5 ms-5 me-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-outline mb-2 mt-2 ms-5 me-5">
                <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-2 ms-5 me-5">確認重置密碼</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
