@page
@model IndexModel
@{
    ViewData["Title"] = "個人資料";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<style>



</style>
 <hr   class="col-12"/>
<h3 class="left5">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row col-6">
    <div class="">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <br />
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <hr   class="col-12"/>
            <br />
            <button id="update-profile-button" type="submit" class=" btn btn-lg btn-primary">存檔</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
