@media only screen and (max-width: 576px) {
  
    .arrange__contain {
        // width: 100%;
        // height: 50vh;
        // position: relative;
     
        &-video {
            display: none;
            // width: 100%;
            // height: 50vh;
            // z-index: -2;

        }
    }

    // @media(min-aspect-ratio:16/9) {
    //     .arrange__contain-video {
    //         width: 100%;
    //         height: auto;
    //     }
    // }

    // @media(max-aspect-ratio:16/9) {
    //     .arrange__contain-video {
    //         object-fit: cover;
    //     }

    // }

    .datepicker {
        display: none;
        // background-color: #ce9906;
        // position: absolute;
        // top: 60%;
        // transform: translateY(-50%);
        // background-color: rgba(255, 255, 255, 0.3);
        // filter: blur(30px);
        // height: 30rem;
        // width: 100%;

        &__content {
            // display: none;
            // display: flex;
            // position: absolute;
            // top: 55%;
            // left: 50%;
            // transform: translate(-50%, -50%);

        //     & input {
        //         font-size: 2rem;
        //         border-style: none;
        //         background: transparent;
        //         font-weight: 700;
        //         margin-left: 3rem;

        //         &::placeholder {
        //             color: #eee;
        //         }

        //     }

        //     & button {
        //         // background-color: #ce9906;
        //         font-size: 2rem;
        //         width: 20rem;
        //         margin-left: 3rem;
        //         border-radius: 15px;
        //     }


         }

    }

    .journey__map {
        height: 100vh;
        // background-color: brown;
        display: flex;
        flex-direction: column;


        & .sidebar {
            // background-color: aqua;
            // background-color: var(--grey-dark-1);
            // flex: 0 0 300px;
            // flex-direction: column;
            // justify-content: space-between;
            // overflow-x: hidden;
            height: 90vh;

            &-hide {
                flex: 0 0 330px;
                margin: 1.5rem;
                overflow-y: scroll;

                & button {
                    width: 100px;
                    height: 20px;
                }

                & .item2 {
                    display: grid;
                    min-height: 50px;
                    height: auto;
                    min-width: 200px;
                    width: auto;
                    padding: 6px 12px;
                    margin: 10px 10px 0px 10px;
                    border: solid 1px #eee;
                    background-color: #FAF0E6;
                    border-radius: 10px;
                    text-align: left;
                }

                & .lbl {

                    & button {
                        width: 160px;
                    }

                    .cy {
                        justify-items: center;
                        width: 100%;
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        align-items: center;

                        & input[type="checkbox"] {
                            display: none;
                        }

                        & input[type="checkbox"]+label {
                            border: 1px solid black;
                            border-radius: 0.7rem;
                            cursor: pointer;
                            padding: 5px 10px;
                            margin-bottom: 0.2rem;
                            font-size: 1.7rem;

                        }

                        & input[type="checkbox"]:checked+label {
                            background-color: #f3d42e;
                        }

                    }

                    .cat {
                        justify-items: center;
                        width: 100%;
                        align-items: center;

                        & input[type="checkbox"] {
                            display: none;
                        }

                        & input[type="checkbox"]+label {
                            border: 1px solid black;
                            border-radius: 0.7rem;
                            cursor: pointer;
                            padding: 5px 10px;
                            margin-bottom: 0.2rem;
                            font-size: 1.7rem;

                        }

                        & input[type="checkbox"]:checked+label {
                            background-color: #f3d42e;
                        }


                    }
                }
            }

            &__grid {
                height: 100%;
                display: grid;
                grid-template-rows: 15% 75% 1fr;

                & .grid-item {
                    &-t {
                        margin: 12px auto;
                        position: relative;
                        width: 400px;
                        text-align: center;
                        overflow-x: hidden;

                        & h3{
                            display: none;
                        }

                        & .daysbox {
                            display: flex;
                            padding: 5px;
                            // margin: 0 10px 0 10px;
                            position: absolute;
                            transition: all .5s;


                            & .days {
                                list-style: none;
                                background: skyblue;
                                width: 9rem;
                                height: 4rem;
                                margin: 0.1rem;
                                text-align: center;
                                padding-top: 0.75rem;
                                font-size: 1.6rem;
                                font-family: 'cwTeXYen', sans-serif;
                                font-weight: 600;
                                color: currentColor;

                                &:hover {
                                    background: rgb(198, 238, 248);
                                }

                            }
                        }


                        & .btnbox-l {
                            position: absolute;
                            top: 26px;
                            width: 25px;
                            height: 45px;
                            left: -5px;
                            background-color: white;
                            display: inline-block;


                            & .left {
                                position: absolute;

                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25px;
                                height: 100%;
                                background: white;
                                z-index: 1;

                            }
                        }

                        & .btnbox-r {
                            position: absolute;
                            left: 379px;
                            width: 25px;
                            height: 50px;
                            display: flex;
                            align-items: center;


                            & .right {
                                position: absolute;
                                left: 0;
                                width: 26px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: white;
                                z-index: 1;
                            }

                        }




                    }

                    &-m {
                        // background-color: #ce9906;
                        height: inherit;
                        width: 100%;
                        overflow-y: scroll;
                        margin: 0px auto;


                        & .col {
                            width: 100%;
                            padding: 10px 20px;
                            margin: 10px 0;
                            background: #82089829;
                            text-align: center;

                            & .title {
                                font-size: 2rem;
                            }

                        }

                        & .item {
                            min-height: 5rem;
                            height: auto;
                            min-width: 20rem;
                            width: auto;
                            padding: 0.6rem 1.2rem;
                            margin-top: 1rem;
                            border: solid 1px #eee;
                            background-color: #F5F5DC;
                            border-radius: 1rem;
                            text-align: left;
                            font-size: 1.4rem;


                            & .adjtime {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                            & button {
                                width: 40px;
                                border-style: none;
                                background: #ff5568;
                            }
                        }


                    }

                    &-b {
                        margin: 30px 0 0 100px;
                    }

                }




            }



        }

        & .mapbox {
            // background-color: brown;
            flex: 1;
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;

            & #map {
                width: 100%;
                height: 100%;
            }


        }



    }

}

@media only screen and (min-width: 576px) {
    .arrange__body {
        height: 200vh;
        // position: absolute;
        top: 0;

    }


    .arrange__contain {
        width: 100%;
        height: 100vh;
        position: relative;
        // background-size: cover;

        // overflow: hidden;

        &-video {
            width: 100%;
            height: 100vh;
            z-index: -2;

        }
    }

    @media(min-aspect-ratio:16/9) {
        .arrange__contain-video {
          object-fit: cover;
         
        }
    }

    @media(max-aspect-ratio:16/9) {
        .arrange__contain-video {
            width: auto;
            height: 100%;
        }

    }

    .datepicker {
        background-color: #ce9906;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.3);
        filter: blur(30px);
        // display:flex ;
        height: 30rem;
        width: 100%;

        &__content {
            display: flex;
            position: absolute;
            top: 55%;
            width: 100%;
            margin: 0 auto;
            justify-content: center;

            & input {
                font-size: 2rem;
                border-style: none;
                background: transparent;
                font-weight: 700;
                margin-left: 3rem;

                &:focus{
                    width:250px;
                  
                }

                &::placeholder {
                    color: #eee;
                }

            }

            & button {
                // background-color: #ce9906;
                font-size: 2rem;
                width: 20rem;
                margin-left: 3rem;
                border-radius: 15px;
            }


        }

    }

    .journey__map {
        height: 88vh;
        // background-color: brown;
        display: flex;
        position: inherit;
        top:10vh;


        & .sidebar {
            flex: 0 0 300px;
            flex-direction: column;
            justify-content: space-between;
            overflow-x: hidden;

            &-tg{
                flex-direction: column;
                justify-content: space-between;
                overflow-x: hidden;
                width: 100%;
            }

            &-hide {
                flex: 0 0 0;
                margin: 0;
                overflow-y: scroll;
               
                &-tg{
                    flex: 0 0 330px;
                    margin: 1.5rem 0 0 1.5rem;
                }

               

                & button {
                    width: 100px;
                    height: 20px;
                }

                & .item2 {
                    min-height: 50px;
                    min-width: 200px;
                    display: grid;
                    margin-bottom: 1rem;
                    background-color: #ffffffd2;
                   
                 
                    & *{
                        // font-family: cwTeXYen, sans-serif;
                        font-size: 1.4rem;
                        margin-bottom:0.3rem;
                    }
                    & h3{
                        background-color: #5fd3ba6c;
                        font-size: 2.1rem;
                        // margin-left: 1%;
                        border-bottom: 1px solid rgb(199, 199, 199);
                        width: 100%;
                        font-weight: bold;
                        
                    }
                    & p{
                        color: rgb(0, 0, 0);
                        margin-left: 6%;
                        display: inline;
                        
                    }
                    & .adto{
                        width: 100%;
                        height: 3px;
                        font-size: 10;
                        background-color: #6c757d;
                        justify-content: center;
                        display: flex;
                        transition: all .3s;

                        &:hover{
                            height: 2.2rem;
                            background-color: #f5b733b0;
                            font-size: 1.8rem;
                            cursor: pointer;
                            // font-family: 'cwTeXYen', sans-serif;
                            
                            
                            
                            
                        }
                    }

                }

                & .lbl {

                    & button {
                        width: 160px;
                    }

                    .cy {
                       

                        & input[type="checkbox"] {
                            display: none;
                        }

                        & input[type="checkbox"]+label {
                            border: 1px solid #6c757d;
                            
                            cursor: pointer;
                            padding: 3px 10px;
                            margin-bottom: 0.2rem;
                            font-size: 2rem;
                            font-family: 'cwTeXYen', sans-serif;
                            transition: all .2s;
                            
                            &:hover{
                                box-shadow: 1px 1px 3px;
                            }

                        }

                        & input[type="checkbox"]:checked+label {
                            background-color: #f3d42e;
                            box-shadow: 1px 1px 3px;
                        }

                    }

                    .picker{
                        & input[type="radio"] {
                            display: none;
                        }

                        & input[type="radio"]+label {
                            border: 1px solid #6c757d;
                            
                            cursor: pointer;
                            padding: 3px 10px;
                            margin-bottom: 0.2rem;
                            font-size: 2rem;
                            font-family: 'cwTeXYen', sans-serif;
                            transition: all .2s;
                            
                            &:hover{
                                box-shadow: 1px 1px 3px;
                            }

                        }

                        & input[type="radio"]:checked+label {
                            background-color: #f3d42e;
                            box-shadow: 1px 1px 3px;
                        }
                    }

                    .cat {
                        justify-items: center;
                        width: 100%;
                        align-items: center;

                        & input[type="checkbox"] {
                            display: none;
                        }

                        & input[type="checkbox"]+label {
                            border: 1px solid #6c757d;
                            cursor: pointer;
                            padding: 3px 10px;
                            margin-bottom: 0.2rem;
                            font-size: 2rem;
                            font-family: 'cwTeXYen', sans-serif;
                            transition: all .2s;
                            
                            &:hover{
                                box-shadow: 1px 1px 3px;
                            }

                        }

                        & input[type="checkbox"]:checked+label {
                            background-color: #f3d42e;
                            box-shadow: 1px 1px 3px;
                        }


                    }
                }
            }

            &__grid {
                height: 100%;
                display: grid;
                grid-template-rows: 125px 620px 1fr;

                & .grid-item {
                    &-t {
                        margin: 12px;
                        position: relative;
                        width: 270px;
                        overflow: hidden;

                        & .daysbox {
                            display: flex;
                            padding: 5px;
                            margin: 0 10px 0 10px;
                            position: absolute;
                            transition: all .5s;


                            & .days {
                                list-style: none;
                                background: skyblue;
                                width: 9rem;
                                height: 4rem;
                                margin: 0.1rem;
                                text-align: center;
                                padding-top: 0.75rem;
                                font-size: 1.6rem;
                                font-family: 'cwTeXYen', sans-serif;
                                font-weight: 600;
                                color: currentColor;

                                &:hover {
                                    background: rgb(198, 238, 248);
                                }

                            }
                        }


                        & .btnbox-l {
                            position: absolute;
                            top: 48px;
                            width: 25px;
                            height: 46px;
                            display: flex;
                            align-items: center;
                            left: -5px;


                            & .left {
                                position: absolute;

                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 25px;
                                height: 100%;
                                background: white;
                                z-index: 1;

                            }
                        }

                        & .btnbox-r {
                            position: absolute;
                            left: 255px;
                            width: 25px;
                            height: 46px;
                            display: flex;
                            align-items: center;


                            & .right {
                                position: absolute;
                                left: 0;
                                width: 26px;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: white;
                                z-index: 1;
                            }

                        }




                    }

                    &-m {
                        // background-color: #ce9906;
                        height: inherit;
                        width: 300px;
                        overflow-y: scroll;


                        & .col {
                            flex: 1;
                            min-width: 250px;
                            max-width: 300px;
                            border: solid 1px #6c757d;
                            margin: 3px;

                            & *{
                                // font-family: cwTeXYen, sans-serif;
                                font-size: 1.4rem;
                                margin-bottom:0.3rem;
                            }

                            & .title {
                               
                                background-color: var(--primary-bule);
                                width: 100%;
                                color: #eee;
                                display: inline-grid;
                               
    
                            }
                            & p{
                                color: rgb(0, 0, 0);
                                margin-left: 6%;
                                display: inline;
                                
                            }
                            & input{
                                font-size: 1.4rem;
                                display: inline;
                                margin-top: 0.3rem;
                            }

                        }

                        & .item {
                            display: grid;
                            flex-direction: column;
                            margin-bottom: 0;
                            margin-top: 0.3rem;
                            border: solid 1px #eee;
                           
                            & h3{
                                font-size: 2.1rem;
                                margin-left: 5%;
                                border-bottom: 1px solid #333;
                                width: 90%;
                                font-weight: bold;
                            }


                            & .adjtime {
                                display: flex;
                                align-items: center;
                                // justify-content: space-between;
                            }

                            & button {
                                border-style: none;
                                height: 5px;
                                transition: all .3;
                                font-size: 0;
                                // display: none;

                                & i{
                                    font-size: 0;
                                }

                                &:hover{
                                    border-style: none;
                                    background: #fd9090da;
                                    font-size: 10px;
                                    height: 20px;

                                    & i{
                                        font-size: 10px;
                                    }
                                }
                               
                            }
                        }


                    }

                    &-b {
                        margin: 30px 0 0 100px;
                    }

                }




            }



        }

        & .mapbox {
            // background-color: brown;
            flex: 1;
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;

            & #map {
                width: 100%;
                height: 100%;
            }


        }



    }

}

.sift{
    background: #6c757d;
    width: 1rem;

    &:hover{
        background: #333;
    }
}