* {
  padding: 0;
  margin: 0;
  font-size: 1.7rem; }

.navbarC {
 
  background-color: #32be9b;
  position: inherit; }

.map-pag3 {
    width: 66%;
    height: 70vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%; }

.nav-link[aria-expanded='true'] {
  background-color: black; }

.daysBar {
    width: 100%;
    padding: 10px 5px 10px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:5px;
}
  .daysBar .days {
    display: inline;
    margin: 0px 20px; }

.daysinfo {
    margin-top: 10px;
    padding: 10px 5px 10px 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}
.bgposition {
  /*background-color: #5fd3ba6c;*/ }

.scheduletab1 {
  margin-top: 20px;
  /*overflow-y:auto;
                                                    flex-wrap: nowrap;*/ }

.betweenBox {
    height: 50px;
    border-left-style: dashed;
    border-left-color: black;
    border-left-width: 1px;
    align-items: center;
    display: flex;
}

.skeltonbox{
    position:absolute;
    width:425px;
    height:600px;
   background-color:white;
}

.skeltonbar {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.skeltoninfo {
    margin-top: 10px;
    width: 100%;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.fadein{
    animation:fadein 1.5s;
}
.date {
    background-color: #32be9b;
    color: #FFFAFA;
    border-radius: 5px;
    margin-bottom: 10px;
    text-indent: 1em;
}
.viewname {
    font-weight: bold;
    border-bottom: 1px solid #333;
}
.viewbox {
    margin-top:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding-bottom: 1.5rem;
    
}
.viewinfo {
    background-color: #FFFAFA;
    border-radius: 5px;
    width: 100%;
    margin-left: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.tag {
    border-radius: 5px;
    background-color: #336149;
    color:snow;
    padding: 5px;
    font-size: 14px;
}
.row {
    margin-left: 0px !important;
}
.tagbar{
    margin-top:10px;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
