* {
  padding: 0;
  margin: 0;
  font-size: 1.7rem; }

.navbarC {
  content: "";
  background-color: #0000005e;
  position: inherit; }

.map-pag3 {
  width: 66%;
  height: 70vh; }

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%; }

.nav-link[aria-expanded='true'] {
  background-color: black; }

.daysBar {
  width: 100%; }
  .daysBar .days {
    display: inline;
    margin: 0px 20px; }

.bgposition {
  /*background-color: #5fd3ba6c;*/ }

.scheduletab1 {
  margin-top: 20px;
  /*overflow-y:auto;
                                                    flex-wrap: nowrap;*/ }

.betweenBox {
  height: 50px;
  border-left-style: dashed;
  border-left-color: black;
  border-left-width: 1px; }

.skeltonbox{
    position:absolute;
    width:400px;
    height:600px;
   background-color:white;
}

.skeltonbar {
    width: 300px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.skeltoninfo {
    margin-top: 10px;
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.fadein{
    animation:fadein 1.5s;
}


@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }


    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
