#coverimg {
    width: 100%;
    height: 420px;
    object-fit: cover;
    margin-bottom:3%
}

    #covertitle {
        position: absolute;
        text-align: center;
        top: 300px;
        left: 10%;
    }


    #TitleId {
        display: inline-block;
        border-style: none;
        outline: none;
        background-color: transparent;
        font-size: 22px;
        color: aliceblue;
        font-weight: auto;
        text-align: center;
        top: 60%;
        left: 45%;
    }
    #TitleId::placeholder{
        color: #ffffff;
        background-color: #000000;
    }


    textarea {
        width: 100%;
        border: none;
        border-bottom: 1px dashed #909cc2;
    }

        input:focus,
        textarea:focus {
            outline: none;
            border-bottom: 1px dashed #084887;
        }

    .container-fluid {
        position: relative;
    }

    textarea::-webkit-scrollbar {
        width: 8px;
        border-radius: 40px;
        background-color: #c3c3c3;
    }

    textarea::-webkit-scrollbar-thumb {
        width: 8px;
        border-radius: 40px;
        background-color: #c3c3c3;
    }

    #userimg {
        border-radius: 50%;
        height: 65px;
        width:70px;
    }

    .Details {
        list-style-type: none;
    }


    .list-group-item {
       
        color: #f9ab55 !important;
        font-weight: bold !important;
        box-shadow: 0 !important;
        border: none !important;
        padding: 2px !important;
        background:transparent !important;
    }

        .list-group-item:hover {
            background-color: transparent !important;
            color: #f58a07 !important;
            border: none !important;
            font-weight: bold !important;
           
            box-shadow: 0 !important;
            transition: width 2s, height 2s !important;
            -webkit-transform: rotate(1deg) !important;
        }

        .list-group-item.active {
            background-color: transparent !important;
            color: #f58a07 !important;
            border: none !important;
            font-weight: bold !important;
           
            box-shadow: 0 !important;
        }

        .listcolor:hover {
            background-color: #669ed6 !important;
            color: #fff !important;
        }

        .listcolor:active {
            background-color: #084887 !important;
            color: #fff !important;
        }

        .btn-primary, .btn-outline-primary {
            background-color: #669ed6 !important;
            color: #fff !important;
            border: none !important;
        }

        .btn-primary:hover, .btn-outline-primary:hover {
            background-color: #084887 !important;
            color: #fff !important;
            border: none !important;
        }


    #day {
        background-color: #084887;
        color: #fff;
        border-radius: 8px;
        padding: 4px 9px;
        margin-bottom: 5px;
    }

    .groupimg {
        width: 600px;
        margin: 10px -10px;
        display: row;
        flex-wrap: wrap;
       
    }

    .groupimg > img {
        width: 180px;
        height: 150px;
        margin: 10px 10px;
        cursor: pointer;
        justify-content: space-around;
    }

    .groupimg::after {
        display: block;
        width: 180px;
    }


    #setting {
        position: fixed;
        top:70vh;
        right: 8%;
        font-size: 20px;
        z-index:5;
    }



    /*background-color: var(--primary-bule-light);
    --primary: #F58A07;
    --primary-light: #F9AB55;
    --primary-bule: #084887;
    --primary-bule-light: #6bc1e3;
    --btn-color: rgb(255, 255, 255);

    */
