
.navbarC {
    background: #8078e9;
    z-index: 6;
}

.myshadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:10px;
    padding:10px;
}

#bloginfo {
    font-size: 1.9rem !important;
    font-family: 'cwTeXYen', sans-serif !important;
}

#coverimg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 3%;
}

#covertitle {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 10%;
}


#TitleId {
    display: inline-block;
    border-style: none;
    outline: none;
    background-color: #000000;
    color: aliceblue;
    text-align: center;
    top: 60%;
    left: 45%;
    font-size: 1.9rem !important;
    border-radius: 10px;
}

    #TitleId::placeholder {
        color: #ffffff;
        background-color: #000000;
    }

.viewcolor {
    background-color: #ebebf5;
    border-radius: 10px;
    padding:15px
}

textarea {
    width: 100%;
    border: none;
    background-color: #ebebf5;
    text-indent: 3.6rem;
}

    input:focus,
    textarea:focus {
        outline: none;
        background-color: #ebebf5;
    }

.container-fluid {
    position: relative;
}

textarea::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
    background-color: #c3c3c3;
}

textarea::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 40px;
    background-color: #c3c3c3;
}

#userimg {
    border-radius: 50%;
    height: 65px;
    width: 70px;
}

.Details {
    list-style-type: none;
}


.list-group-item {
    color: #f9ab55 !important;
    font-weight: bold !important;
    box-shadow: 0 !important;
    border: none !important;
    padding: 2px !important;
}
    .list-group-item:hover {
        background-color: transparent !important;
        color: #f58a07 !important;
        border: none !important;
        font-weight: bold !important;
        box-shadow: 0 !important;
        transition: width 2s, height 2s !important;
        -webkit-transform: rotate(1deg) !important;
    }

    .list-group-item.active {
        background-color: transparent !important;
        color: #f58a07 !important;
        border: none !important;
        font-weight: bold !important;
        box-shadow: 0 !important;
    }

.listcolor:hover {
    background-color: #669ed6 !important;
    color: #fff !important;
}

.listcolor:active {
    background-color: #084887 !important;
    color: #fff !important;
}

.btn-primary, .btn-outline-primary {
    background-color: #669ed6 !important;
    color: #fff !important;
    border: none !important;
    font-size: 1.7rem !important;
}

    .btn-primary:hover, .btn-outline-primary:hover {
        background-color: #084887 !important;
        color: #fff !important;
        border: none !important;
        font-size: 1.7rem !important;
    }


.btn-outline-secondary {
    font-size: 1.7rem !important;
}

    .btn-outline-secondary:hover {
        font-size: 1.7rem !important;
    }


#day {
    background-color: #084887;
    color: #fff;
    border-radius: 8px;
    padding: 4px 9px;
}

.groupimg {
    width: 600px;/*
    margin: 10px -10px;*/
    display: row;
    flex-wrap: wrap;
}

    .groupimg > img {
        width: 180px;
        height: 150px;
        margin: 10px 10px;
        cursor: pointer;
        justify-content: space-around;
    }
    
    .imglabel {
        width: 180px;
        height: 150px;
        margin: 10px 10px;
        cursor: pointer;
        justify-content: space-around;
    } 


    .groupimg::after {
        display: block;
        width: 180px;
    }


#setting {
    position: fixed;
    bottom: 25vh;
    right: 5%;
    font-size: 30px;
    z-index: 3;
}

.footer__waves {
    z-index: 4;
}

@media only screen and (max-width: 576px) {
    #hidden {
        display: none;
    }
}

.red{
    color:red;
}

.black{
    color:black;
}
/*background-color: var(--primary-bule-light);
    --primary: #F58A07;
    --primary-light: #F9AB55;
    --primary-bule: #084887;
    --primary-bule-light: #6bc1e3;
    --btn-color: rgb(255, 255, 255);

    */
