.navbarC{
    background-color: #8a8a8a;
}


 .active {
    color: #E1251B;
    animation: heart 0.5s linear;
} 


 @keyframes heart {
    from {
        font-size: 15px;
    }

    75% {
        font-size: 20px;
    }

    to {
        font-size: 15px;
    }
}

#userimg {
    border-radius: 50%;
    height: 65px;
    width: 70px;
}


.Details {
    list-style-type: none;
}


.list-group-item {
    size: 12px !important;
    color: #f9ab55 !important;
    font-weight: bold !important;
    box-shadow: 0 !important;
    border: none !important;
    padding: 2px !important;
}

    .list-group-item:hover {
        background-color: transparent !important;
        color: #f58a07 !important;
        border: none !important;
        font-weight: bold !important;
        size: 12px !important;
        box-shadow: 0 !important;
        transition: width 2s, height 2s !important;
        -webkit-transform: rotate(1deg) !important;
    }

    .list-group-item.active {
        background-color: transparent !important;
        color: #f58a07 !important;
        border: none !important;
        font-weight: bold !important;
        size: 12px !important;
        box-shadow: 0 !important;
    }

.btn-primary, .btn-outline-primary {
    background-color: #669ed6 !important;
    color: #fff !important;
    border: none !important;
}

    .btn-primary:hover, .btn-outline-primary:hover {
        background-color: #084887 !important;
        color: #fff !important;
        border: none !important;
    }


#day {
    background-color: #084887;
    color: #fff;
    border-radius: 8px;
    padding: 4px 9px;
    margin-bottom: 5px;
}

.groupimg {
    width: 600px;
    margin: 10px -10px;
    display: row;
    flex-wrap: wrap;
    
}

    .groupimg > img {
        width: 180px;
        height: 150px;
        margin: 10px 10px;
        cursor: pointer;
        justify-content: space-around;
    }

    .groupimg::after {
        display: block;
        width: 180px;
    }
