@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');
html {
  /* width: 1800px;  */
  font-size: 10px;
  font-family: 'Noto Sans TC', sans-serif;;
  position: relative;
  
 /* min-height: 100%;*/
}



* {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}






.item:hover {
    background-color: #FFFDD0;
    /* height: 150px; */
    /* transition: 0.5s; */
    /* cursor: move; */
}

    .item + .item {
        border-top: none;
        margin-top: 6px;
    }

.min {
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100px;
}
/*�a��*/
#map {
    height: 500px;
    width: 100%;
}
/*�a�ϤW�������s*/
#floating-panel {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}
/*����infowindow���e�e���s*/
button.gm-ui-hover-effect {
    visibility: hidden;
}
body {
  
}